{% extends 'dashboard/base.html' %} {% block title %} Add Category {% endblock %} {% block content %}
<h3>Add Category</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" id="title" name="title" required>
            </td>
            <td><button href="#" class="btn btn-primary" onclick="addCategory()">Validate</button></td>
        </tr>
    </tbody>
</table>
<script>
    function addCategory() {
        $.ajax({
            url: "/admin/addCategory",
            type: "POST",
            data: JSON.stringify({
                title: $("#title").val()
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data) {
                document.location.href = "/admin/dashCategory"
            }
        })

    }
</script>
{% endblock %}